
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <h4 id="count"></h4>
        <input type="text" id="name" class="form-control" placeholder="Name"/>
        <input type="text" id="message" class="form-control" placeholder="Message..."/>
        <br/>
        <button class="btn btn-primary" id="send">Send message</button>
    </div>
    <div class="col-md-6 col-md-offset-3 well" id="messages">
        <h3>Messages</h3>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js"></script>
    <script src="/js/index.js"></script>
}